pre.highlight {
	padding: 1em;
}

.highlight {
	background-color: #292923;
	font-family: $font2;
	@include font-size(14);
	color: #f8f8f2;
	border-radius: 4px;
	pre {
		position: relative;
		margin: 0;
		padding: 1em;
	}
	.lineno            { padding-right: 24px; color: lighten(#292923,50);}
	.hll               { background-color: #292923}
	.c                 { color: #75715e }                            /* Comment                     */
	.err               { color: #960050; background-color: #1e0010 } /* Error                       */
	.k                 { color: #66d9ef }                            /* Keyword                     */
	.l                 { color: #ae81ff }                            /* Literal                     */
	.n                 { color: #f8f8f2 }                            /* Name                        */
	.o                 { color: #ff2957 }                            /* Operator                    */
	.p                 { color: #f8f8f2 }                            /* Punctuation                 */
	.cm                { color: #75715e }                            /* Comment.Multiline           */
	.cp                { color: #75715e }                            /* Comment.Preproc             */
	.c1                { color: #3ebd84 }                            /* Comment.Single              */
	.cs                { color: #3ebd84 }                            /* Comment.Special             */
	.ge                { font-style: italic }                        /* Generic.Emph                */
	.gs                { font-weight: bold }                         /* Generic.Strong              */
	.kc                { color: #66d9ef }                            /* Keyword.Constant            */
	.kd                { color: #66d9ef }                            /* Keyword.Declaration         */
	.kn                { color: #ff2957 }                            /* Keyword.Namespace           */
	.kp                { color: #66d9ef }                            /* Keyword.Pseudo              */
	.kr                { color: #66d9ef }                            /* Keyword.Reserved            */
	.kt                { color: #66d9ef }                            /* Keyword.Type                */
	.ld                { color: #f5e54e }                            /* Literal.Date                */
	.m                 { color: #ae81ff }                            /* Literal.Number              */
	.s                 { color: #f5e54e }                            /* Literal.String              */
	.na                { color: #a6e22e }                            /* Name.Attribute              */
	.nb                { color: #f8f8f2 }                            /* Name.Builtin                */
	.nc                { color: #a6e22e }                            /* Name.Class                  */
	.no                { color: #66d9ef }                            /* Name.Constant               */
	.nd                { color: #a6e22e }                            /* Name.Decorator              */
	.ni                { color: #f8f8f2 }                            /* Name.Entity                 */
	.ne                { color: #a6e22e }                            /* Name.Exception              */
	.nf                { color: #a6e22e }                            /* Name.Function               */
	.nl                { color: #f8f8f2 }                            /* Name.Label                  */
	.nn                { color: #f8f8f2 }                            /* Name.Namespace              */
	.nx                { color: #a6e22e }                            /* Name.Other                  */
	.py                { color: #f8f8f2 }                            /* Name.Property               */
	.nt                { color: #ff2957 }                            /* Name.Tag                    */
	.nv                { color: #f8f8f2 }                            /* Name.Variable               */
	.ow                { color: #ff2957 }                            /* Operator.Word               */
	.w                 { color: #f8f8f2 }                            /* Text.Whitespace             */
	.mf                { color: #b992e0 }                            /* Literal.Number.Float        */
	.mh                { color: #b992e0 }                            /* Literal.Number.Hex          */
	.mi                { color: #b992e0 }                            /* Literal.Number.Integer      */
	.mo                { color: #b992e0 }                            /* Literal.Number.Oct          */
	.sb                { color: #e6db74 }                            /* Literal.String.Backtick     */
	.sc                { color: #e6db74 }                            /* Literal.String.Char         */
	.sd                { color: #e6db74 }                            /* Literal.String.Doc          */
	.s2                { color: #e6db74 }                            /* Literal.String.Double       */
	.se                { color: #b992e0 }                            /* Literal.String.Escape       */
	.sh                { color: #e6db74 }                            /* Literal.String.Heredoc      */
	.si                { color: #e6db74 }                            /* Literal.String.Interpol     */
	.sx                { color: #e6db74 }                            /* Literal.String.Other        */
	.sr                { color: #e6db74 }                            /* Literal.String.Regex        */
	.s1                { color: #e6db74 }                            /* Literal.String.Single       */
	.ss                { color: #e6db74 }                            /* Literal.String.Symbol       */
	.bp                { color: #f8f8f2 }                            /* Name.Builtin.Pseudo         */
	.vc                { color: #f8f8f2 }                            /* Name.Variable.Class         */
	.vg                { color: #f8f8f2 }                            /* Name.Variable.Global        */
	.vi                { color: #f8f8f2 }                            /* Name.Variable.Instance      */
	.il                { color: #b992e0 }                            /* Literal.Number.Integer.Long */
}
